* {
    
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: white;
    /*border: 2px solid #2D3E50;*/
}

h1 {
    font-weight:900;
    color: black;
}

h2 {
    font-weight: 800;
    color: black;
}

h3 {
    font-weight: 400;

}

p {
    font-weight: 400;
    color: black;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: center;
}

.intro {
    align-items: center;
    padding: 10px;
    text-align: center;
}

.intro h2, .intro p , .intro h1{
    margin: 20px;
    text-align: center;
}

.link-detail {
    display: flex;
    gap: 100px;
    justify-content: space-around;
    padding: 5px;
    margin: 5px;
    flex-wrap: inherit;
    
}

.title {
    margin-left: 50px;
    border-bottom: 2px black solid;
}

.content {
    margin: 15px;
    margin-left: 50px;
}

.position {
    display: flex;
}

.date-location {
    display: flex;
    justify-content: space-between;
}

.unordered-list li {
    font-size: 14px;
    margin-left: 10px;
    list-style-type: disc;
}