* {
    
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: white;
    /*border: 2px solid #2D3E50;*/
}

h1 {
    font-weight:900;
    color: black;
}

h2 {
    font-weight: 400;
    color: black;
}

h3 {
    font-weight: 400;

}

p {
    font-weight: 400;
    color: black;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: center;
}

.intro {
    align-items: center;
    padding: 10px;
    text-align: center;
}

.intro h2, .intro p , .intro h1{
    margin: 20px;
    text-align: center;
}

.link-detail {
    display: flex;
    gap: 100px;
    justify-content: space-around;
    padding: 5px;
    margin: 5px;
    flex-wrap: inherit;
    
}

.objective p{
    padding: 1px;
}

.title {
    margin-left: 50px;
    border-bottom: 2px black solid;
    font-weight: 600;
    padding-bottom: 5px;
    font-size: 25px;
}

.content {
    margin: 15px;
    margin-left: 50px;
}

.position {
    display: flex;
}

.date-location {
    display: flex;
    justify-content: space-between;
}

.date-location p {
    color: rgb(118, 117, 117);
    font-size: 17px;
    font: optional;
    padding: 2px;
    font-weight: 300;
}

h3 {
    font-weight: 550;
    font-size: 20px;
    padding: 5px;
}

.company {
    color: black;
    font-weight: 545;
    font-size: 20px;
}

.work-position {
    color: black;
    font-weight: 300;
}

.unordered-list li {
    font-size: 15px;
    margin-left: 10px;
    list-style-type: disc;
    font-weight: 400;
    padding: 2px;
}

ul{
    color: black;
}


.degree p{
    padding: 2px;
    font-size: 16px;
}